DATABASE_URL="postgresql://eventsync_user:Eventsync2024!@localhost:5432/eventsync?schema=public"

ADMIN_EMAIL=admin@eventsync.com
ADMIN_PASSWORD=admin123
JWT_SECRET=JWT_SECRET="bbd603297b77730932400711278329a9f55730d125dbb3e1d92ad365e691bc69"

PORT=3000